.container {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.sub-header {
    background-color: #8bc28b;
    border-bottom: 1px solid #ccc;
}

.sub-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    margin-left: 70px;
}

#btn-create-header {
    height: 25px;
    width: 32px;
    padding: 12px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    color: #333;
}

.nav-item a {
    color: #E5E5E5!important;
}
.card {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    clear: both;
}

.card-body {
    width: 100%;
}

.icon-lista{
    height: 40px;
    width: 40px;
}

